<div class="header pb-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-default opacity-8"></span>
</div>

<div class="container-fluid mt--6" data-controller="loader">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <%= image_tag("profile-background.jpg", alt: "Image placeholder", class: "card-img-top") %>
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <% if current_user&.profile_picture_url.present? %>
                <%= image_tag(current_user.profile_picture_url, alt: "", class: "img-upload-preview rounded-circle") %>
              <% else %>
                <%= image_tag("no-image.png", alt: "preview", class: "img-upload-preview rounded-circle") %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <%= form_for current_user, as: :profile, url: { controller: request[:controller], action: :profile_picture }, class: "d-flex justify-content-between align-items-start", method: :post do |f| %>
            <%= f.file_field(:profile_picture, class: "form-control-file valImage", accept: ".jpg, .jpeg, .png") %>
            <%= f.submit("Upload Profile Picture", class: "btn btn-sm btn-info", data: { action: "click->loader#startLoader" }) %>
          <% end %>
          <div class="text-left">
            <%= link_to(remove_profile_picture_users_url, data: { action: "click->loader#startLoader" }, method: :post) do %>
              <span>Remove Picture</span>
            <% end if current_user&.profile_picture.present? %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1" id="change-password-div">
      <%= render partial: "users/change_password", locals: { errors: nil, current_user: current_user} %>
    </div>
  </div>
</div>